.overlay {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  content: '';
}

.overlayDefault {
  border-color: var(--mantine-color-gray-outline);

  @mixin hover {
    background: var(--mantine-color-gray-filled-hover);
  }
}

.overlayDefaultActive {
  background: var(--mantine-color-gray-filled);
}