.overlay1 {
  border-color: var(--mantine-color-red-outline);

  @mixin hover {
    background: var(--mantine-color-red-filled-hover);
  }
}

.overlay1Active {
  background: var(--mantine-color-red-filled);
}

.overlay2 {
  border-color: var(--mantine-color-green-outline);

  @mixin hover {
    background: var(--mantine-color-green-filled-hover);
  }
}

.overlay2Active {
  background: var(--mantine-color-green-filled);
}

.overlay3 {
  border-color: var(--mantine-color-blue-outline);

  @mixin hover {
    background: var(--mantine-color-blue-filled-hover);
  }
}

.overlay3Active {
  background: var(--mantine-color-blue-filled);
}

.overlay4 {
  border-color: var(--mantine-color-grape-outline);

  @mixin hover {
    background: var(--mantine-color-grape-filled-hover);
  }
}

.overlay4Active {
  background: var(--mantine-color-grape-filled);
}

.overlay5 {
  border-color: var(--mantine-color-yellow-outline);

  @mixin hover {
    background: var(--mantine-color-yellow-filled-hover);
  }
}

.overlay5Active {
  background: var(--mantine-color-yellow-filled);
}

.overlay6 {
  border-color: var(--mantine-color-orange-outline);

  @mixin hover {
    background: var(--mantine-color-orange-filled-hover);
  }
}

.overlay6Active {
  background: var(--mantine-color-orange-filled);
}

.overlay7 {
  border-color: var(--mantine-color-pink-outline);

  @mixin hover {
    background: var(--mantine-color-pink-filled-hover);
  }
}

.overlay7Active {
  background: var(--mantine-color-pink-filled);
}

.overlay8 {
  border-color: var(--mantine-color-violet-outline);

  @mixin hover {
    background: var(--mantine-color-violet-filled-hover);
  }
}

.overlay8Active {
  background: var(--mantine-color-violet-filled);
}

.overlay9 {
  border-color: var(--mantine-color-indigo-outline);

  @mixin hover {
    background: var(--mantine-color-indigo-filled-hover);
  }
}

.overlay9Active {
  background: var(--mantine-color-indigo-filled);
}

.overlay10 {
  border-color: var(--mantine-color-cyan-outline);

  @mixin hover {
    background: var(--mantine-color-cyan-filled-hover);
  }
}

.overlay10Active {
  background: var(--mantine-color-cyan-filled);
}

.overlay11 {
  border-color: var(--mantine-color-teal-outline);

  @mixin hover {
    background: var(--mantine-color-teal-filled-hover);
  }
}

.overlay11Active {
  background: var(--mantine-color-teal-filled);
}

.overlay12 {
  border-color: var(--mantine-color-lime-outline);

  @mixin hover {
    background: var(--mantine-color-lime-filled-hover);
  }
}

.overlay12Active {
  background: var(--mantine-color-lime-filled);
}