.overlay1 {
  border-color: var(--mantine-color-red-outline);

  @mixin hover {
    background: var(--mantine-color-red-filled-hover);
  }
}

.overlay1Active {
  background: var(--mantine-color-red-filled);
}

.overlay2 {
  border-color: var(--mantine-color-green-outline);

  @mixin hover {
    background: var(--mantine-color-green-filled-hover);
  }
}

.overlay2Active {
  background: var(--mantine-color-green-filled);
}

.overlay3 {
  border-color: var(--mantine-color-blue-outline);

  @mixin hover {
    background: var(--mantine-color-blue-filled-hover);
  }
}

.overlay3Active {
  background: var(--mantine-color-blue-filled);
}

.overlay4 {
  border-color: var(--mantine-color-grape-outline);

  @mixin hover {
    background: var(--mantine-color-grape-filled-hover);
  }
}

.overlay4Active {
  background: var(--mantine-color-grape-filled);
}

.overlay5 {
  border-color: var(--mantine-color-yellow-outline);

  @mixin hover {
    background: var(--mantine-color-yellow-filled-hover);
  }
}

.overlay5Active {
  background: var(--mantine-color-yellow-filled);
}

.overlay6 {
  border-color: var(--mantine-color-orange-outline);

  @mixin hover {
    background: var(--mantine-color-orange-filled-hover);
  }
}

.overlay6Active {
  background: var(--mantine-color-orange-filled);
}