services:
  web:
    image: node:20-alpine
    working_dir: /var/www/html
    volumes:
      - "../source/web:/var/www/html"
    command: npm run dev
    ports:
      - "5173:5173"
  express:
    image: node:20-alpine
    working_dir: /var/www/html
    volumes:
      - "../source/backend:/var/www/html"
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - .env